<?xml version="1.0" encoding="UTF-8"?>
<!-- EN-Revision: 1.120 Maintainer: progcom Status: ready -->
 <chapter id="configuration">
  <title>실행 환경 설정</title>

  <sect1 id="configuration.file">
   <title>환경 설정 파일</title>

   <simpara>
    환경 설정 파일(PHP 3에서 <filename>php3.ini</filename>, PHP
    4부터는 단순히 &php.ini;)은 PHP가 시작될 때 읽혀집니다.
    PHP의 서버 모듈 버전에서는 웹 서버가 시작될 때 한번만 읽혀집니다.
    <acronym>CGI</acronym>와 <acronym>CLI</acronym> 버전에서는 실행될 때마다
    읽혀집니다.
   </simpara>
   <para>
    &php.ini;의 기본 위치는 컴파일 시의 옵션입니다. (<link
    linkend="faq.installation.phpini">FAQ</link> 참고) <acronym>CGI</acronym>와
    <acronym>CLI</acronym> 버전에서는 <literal>-c</literal> 커맨드 라인 스위치를
    이용해서 변경할 수 있습니다. <link linkend="features.commandline">커맨드
    라인</link>에서 PHP 사용하기 챕터를 참고하십시오.
    &php.ini;를 찾기 위한 추가 경로를 지정하기 위해 <varname>PHPRC</varname>
    환경 변수를 이용할 수도 있습니다.
   </para>
   <para>
    <filename>php-SAPI.ini</filename>가 존재하면 (SAPI는 사용하는 SAPI, 즉
    파일명은 <filename>php-cli.ini</filename>이나
    <filename>php-apache.ini</filename> 등), &php.ini; 대신 사용합니다.
   </para>
   <note>
    <para>
     아파치 웹 서버는 시작할 때 디렉토리를 루트로 변경하기 때문에,
     루트에 &php.ini;가 존재할 경우, 루트 파일 시스템에서 읽습니다.
    </para>
   </note>
   <para>
    확장 모듈의 &php.ini; 지시어는 각 확장에 관한 문서에 존재합니다. <link
     linkend="ini">핵심 지시어 목록</link>은 부록에 있습니다. 대부분의 PHP
    지시어 목록은 변경 권한과 함께 <function>ini_set</function>에 문서 링크가
    있습니다. 사용하는 PHP 버전에 해당하는 모든 지시어는, &php.ini; 파일에
    주석과 함께 존재합니다. 또는, CVS에서 <ulink
     url="&url.php.cvs.phpini;">최신 &php.ini;</ulink>를 찾아볼 수 있습니다.
   </para>
   <para>
    <example>
     <title>&php.ini; 예제</title>
     <programlisting role="ini">
<![CDATA[
; 따옴표 밖에서 세미콜론(;)뒤에 오는 그 줄의 텍스트는 무시합니다
[PHP] ; 섹션 마커 (대괄호 안의 텍스트)는 무시합니다
; Boolean 값은 다음과 같이 설정합니다:
;    true, on, yes
; 또는 false, off, no, none
register_globals = off
track_errors = yes

; 문자열은 큰따옴표(")로 묶습니다
include_path = ".:/usr/local/lib/php"

; 백슬래쉬(\)는 보통의 문자로 취급합니다
include_path = ".;c:\php\lib"
]]>
</programlisting>
<!-- TODO: add more details about values and expressions -->
    </example>
   </para>
  </sect1>

  <sect1 id="configuration.changes">
   <title>환경 설정을 변경하는 방법</title>

   <sect2 id="configuration.changes.apache">
    <title>PHP를 아파치 모듈로 실행</title>
    <simpara>
     PHP를 아파치 모듈로 사용할 때, 아파치 환경 설정 파일(예. &httpd.conf;)과
     &htaccess; 파일을 이용해서 환경 설정을 변경할 수 있습니다. 이를 위해서는
     "AllowOverride Options"나 "AllowOverride All" 권한이 필요합니다.
    </simpara>

    <para>
     PHP 4와 PHP 5에서는, 아파치 환경 설정 파일에서 PHP 설정을 변경할 수 있게
     하는 몇가지 아파치 설정이 존재합니다. 가능한 설정 목록은
     <function>ini_set</function> 문서에 있는 테이블의
     <constant>PHP_INI_ALL</constant>, <constant>PHP_INI_PERDIR</constant>,
     <constant>PHP_INI_SYSTEM</constant>을 참고하십시오.
    </para>
    
    <note>
     <simpara>
      PHP 3에서는, <filename>php3.ini</filename> 이름에 각각 대응하는
      "php3_"를 붙여서 사용할 수 있는 아파치 설정이 존재합니다.
     </simpara>
    </note>

    <para>
     <variablelist>
      <varlistentry>
       <term>
        <systemitem role="directive">php_value</systemitem>
        <parameter>이름</parameter>
        <parameter>값</parameter>
       </term>
       <listitem>
        <para>
         특정한 설정값을 설정합니다.
         <constant>PHP_INI_ALL</constant>과 <constant>PHP_INI_PERDIR</constant>형
         지시자에만 사용할 수 있습니다.
         기존 설정값을 제거하기 위해서는 값을 <literal>none</literal>로 설정하십시오.
        </para>
        <note>
         <simpara>
          boolean 값을 설정하기 위해서 <systemitem
           role="directive">php_value</systemitem>를 사용하지 마십시오. 대신,
          <systemitem role="directive">php_flag</systemitem>(아래를 참고)를
          사용해야만 합니다.
         </simpara>
        </note>
       </listitem>
      </varlistentry>
      <varlistentry>
       <term>
        <systemitem role="directive">php_flag</systemitem>
        <parameter>이름</parameter>
        <parameter>on|off</parameter>
       </term>
       <listitem>
        <para>
         boolean 값의 환경 설정에 사용합니다.
         <constant>PHP_INI_ALL</constant>과
         <constant>PHP_INI_PERDIR</constant>형 지시어에만 사용할 수 있습니다.
        </para>
       </listitem>
      </varlistentry>
      <varlistentry>
       <term>
        <systemitem role="directive">php_admin_value</systemitem>
        <parameter>이름</parameter>
        <parameter>값</parameter>
       </term>
       <listitem>
        <para>
         특별한 설정값을 설정합니다.
         &htaccess; 파일에서는 <emphasis>사용할 수 없습니다</emphasis>.
         <systemitem role="directive">php_admin_value</systemitem>의 설정값은
         &htaccess;나 버추얼 호스트 설정으로 바꿀 수 없습니다.
         기존 설정값을 제거하기 위해서는 값을 <literal>none</literal>로 설정하십시오.
        </para>
       </listitem>
      </varlistentry>
      <varlistentry>
       <term>
        <systemitem role="directive">php_admin_flag</systemitem>
        <parameter>이름</parameter>
        <parameter>on|off</parameter>
       </term>
       <listitem>
        <para>
         boolean 값의 환경 설정에 사용합니다.
         &htaccess; 파일에서는 <emphasis>사용할 수 없습니다</emphasis>.
         <systemitem role="directive">php_admin_flag</systemitem>의 설정값은
         &htaccess;나 버추얼 호스트 설정으로 바꿀 수 없습니다.
         기존 설정값을 제거하기 위해서는 값을 <literal>none</literal>로 설정하십시오.
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
    <para>
     <example>
      <title>아파치 환경 설정 예제</title>
      <programlisting role="ini">
<![CDATA[
<IfModule mod_php5.c>
  php_value include_path ".:/usr/local/lib/php"
  php_admin_flag safe_mode on
</IfModule>
<IfModule mod_php4.c>
  php_value include_path ".:/usr/local/lib/php"
  php_admin_flag safe_mode on
</IfModule>
<IfModule mod_php3.c>
  php3_include_path ".:/usr/local/lib/php"
  php3_safe_mode on
</IfModule>
]]>
      </programlisting>
     </example>
    </para>
    
    <caution>
     <para>
      PHP 상수는 PHP 외부에서는 존재하지 않습니다. 예를 들면,
      &httpd.conf;에서는 <link linkend="ini.error-reporting">error_reporting</link>을
      설정하기 위해서 <constant>E_ALL</constant>나 <constant>E_NOTICE</constant>
      등의 PHP 상수를 사용할 수 없으며, 아무런 의미를 가지지 않기에
      <emphasis>0</emphasis>으로 처리합니다. 대신 비트마스크 결합값을
      사용하십시오. &php.ini;에서는 상수를 사용할 수 있습니다.
     </para>
    </caution>
   </sect2>

   <sect2 id="configuration.changes.windows">
    <title>윈도우 레지스트리를 통해 PHP 설정 변경하기</title>
     <simpara>
      윈도우에서 PHP를 실행할 때, 윈도우 레지스트리를 통해서 디렉토리
      단위로 설정값을 변경할 수 있습니다. 레지스트리 키
      <literal>HKLM\SOFTWARE\PHP\Per Directory Values</literal>에
      기록된 설정값은, 경로명이 서브키로 연결됩니다. 예를 들면,
      디렉토리 <literal>c:\inetpub\wwwroot</literal>를 위한 설정값은
      <literal>HKLM\SOFTWARE\PHP\Per Directory Values\c\inetpub\wwwroot</literal>에
      기록합니다. 디렉토리 단위의 설정은 그 디렉토리와 그 하위 디렉토리에서
      실행되는 모든 스크립트에 영향을 줍니다. PHP 설정 지시어를 키로 가지고,
      문자열 값을 지정해야 합니다. 값에 포함한 PHP 상수는 처리하지 않습니다.
     </simpara>
   </sect2>

   <sect2 id="configuration.changes.other">
    <title>PHP의 다른 인터페이스</title>
    <para>
     PHP를 어떤 방식으로 실행하는가에 관계 없이,
     <function>ini_set</function>을 통하여 몇가지 값을 변경할 수 있습니다.
     자세한 정보는 <function>ini_set</function> 문서를 참고하십시오.
    </para>
    <para>
     시스템의 환경 설정 목록과 현재 값을 알고 싶으면,
     <function>phpinfo</function> 함수를 실행하여 결과 페이지를 참고하십시오.
     실행시에 개별적인 지시어의 값을 <function>ini_get</function>이나
     <function>get_cfg_var</function>를 통해 얻을 수 있습니다.
    </para>
   </sect2>

  </sect1>

 </chapter>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
